<div class="row text-center">
  <div class="col-md-4 mx-auto p-4 mt-5">
    <div class="card border-dark">
        <div class="card-header text-center text-dark bg-light">
            <h3>Ingrese Sus Datos</h3>
        </div>
        <div class="card-body bg-light">
            <form action="/users/signin" method="post">
               <div class="form-group">
                  <input type="text" name="name" class="form-control" placeholder="Nombre" required>
               </div>
               <div class="form-group">
                   <input type="text" name="password" class="form-control" placeholder="Password" required> 
               </div>
               <button class="btn btn-success">SIGN IN</button>   
            </form>
        </div>
    </div>
  </div>
</div>